<div class="container py-4">
    <h1 class="text-center mb-4">Empresas colaboradoras</h1>

    <div class="row justify-content-center mb-4">
        
        <!-- Carga cards empresa -->
        <div class="col-md-6 col-lg-4 mb-3" *ngFor="let empresa of empresas">
            <div class="card h-100">
                <div class="card-body">
                    <h3 class="card-title">{{empresa.nombre}}</h3>
                    <p class="card-text">📞 Tel: {{empresa.telefono}}</p>
                    <p class="card-text">📍 Ubicación: {{empresa.direccion}}, {{empresa.ciudad}}</p>
                    <p class="card-text">💰 Total Donaciones: {{TotalDonaciones(empresa) | currency}}</p>
                    <button class="btn btn-primary w-100" 
                            (click)="obtenerMostrarUbicacion(empresa)">
                        Ver en el mapa
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Mapa -->
    <div class="row justify-content-center">
        <div class="col-12">
            <div id="mapa"></div>
        </div>
    </div>
</div>
