

<div class="container py-4">
    <h2 class="text-center mb-4">¡Encuentra a quien ayudar!</h2>

    <div class="row justify-content-center mb-4">
        <!-- Cards generadas dinámicamente -->
        <div class="col-md-6 col-lg-4 mb-4" *ngFor="let banco of bancos">
            <div class="card h-100 banco-card">
                <div class="card-body d-flex flex-column">
                    <h3 class="card-title">{{ banco.nombre }}</h3>
                    <p class="card-text">📞 Tel: {{ banco.telefono }}</p>
                    <p class="card-text">📍 Ubicación: {{ banco.direccion }}, {{ banco.ciudad }}</p>
                    <button class="btn btn-primary w-100 mt-auto" 
                            (click)="obtenerYMostrarUbicacion(banco)" href="#map">
                        Ver en el mapa
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Contenedor del mapa -->
    <div class="row justify-content-center mb-5" #mapSection>
        <div class="col-12">
            <div id="mapa"></div>
        </div>
    </div>
</div>
