<nav class="navbar navbar-expand-lg navbar-dark bg-dark" aria-label="Offcanvas navbar large">
    <div class="container-fluid">
        <img src="assets/IMG/logo.png" width="50px"><a class="navbar-brand p-20" href="index.html"> Save &
            Serve</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar2"
            aria-controls="offcanvasNavbar2" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-start bg-dark" tabindex="-1" id="offcanvasNavbar2"
            aria-labelledby="offcanvasNavbar2Label">

            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-center flex-grow-1 pe-3">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#cardAndButton">Como trabajamos?</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/articles" routerLinkActive="active">Blog</a>
                    </li>

                    <li class="nav-item dropdown ">
                        <a class="nav-link dropdown-toggle" href="#" id="getInvolvedDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Involucrate
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark bg-dark" aria-labelledby="getInvolvedDropdown">
                            <li><a class="dropdown-item text-white"  routerLink="/HazteVoluntario" routerLinkActive="active"
                                    >Hazte Voluntario</a></li>
                            <li><a class="dropdown-item text-white" href="#offcanvasRegister"
                                    data-bs-toggle="offcanvas">Empresas</a></li>
                            <li><a class="dropdown-item text-white" routerLink="/suscription" routerLinkActive="active"
                                    data-bs-toggle="offcanvas">
                                    Suscripciones</a>
                            </li>
                        </ul>
                    </li>
                    <form class="d-flex mt-3 mt-lg-0" role="search">
                        <input class="form-control me-2 rounded-pill border-2 border-dark" type="search"
                            placeholder="Buscar" aria-label="Search">
                        <button class="btn btn-dark rounded-pill text-white border-2 border-white" type="submit">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-search" viewBox="0 0 16 16">
                                <path
                                    d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 
                                1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                            </svg>
                        </button>
                    </form><br>
                </ul>
                <!-- CONTROLAR ESTO SOLO ADMIN -->
                <a class="btn btn-dark text-white" routerLink="/zonaAdmin" routerLinkActive="active"
                                    data-bs-toggle="offcanvas">
                                    Zona Admin</a>
                                    
                <a class="btn btn-warning text-white" data-bs-toggle="offcanvas" href="#offcanvasLogin" role="button"
                    aria-controls="offcanvasLogin">Iniciar Sesión</a>
            </div>
        </div>
    </div>
    <div>
    </div>
</nav>
<!-- Login -->
<div class="offcanvas offcanvas-start bg-dark text-white" tabindex="-1" id="offcanvasLogin"
    aria-labelledby="offcanvasLoginLabel" data-bs-backdrop="true">

    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasLoginLabel">Iniciar sesión</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>

    </div>
    <div class="offcanvas-body">
        <form action="index.html" class="p-3">
            <div class="mb-3">
                <label for="floatingInput" class="form-label">Dirección Email</label>
                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" required>
            </div>

            <div class="mb-3">
                <label for="floatingPassword" class="form-label">Contraseña</label>
                <input type="password" class="form-control" id="floatingPassword" placeholder="Password" required>
            </div>
            <button type="submit" class="btn btn-warning w-100">Iniciar Sesión</button>
        </form>

        <div class="text-center mt-3">
            <a href="#offcanvasForgotPassword" data-bs-toggle="offcanvas"
                class="text-white text-decoration-underline">Olvidaste tu contraseña?</a><br>

            ¿No tienes cuenta? <a class="btn btn-p text-white text-decoration-underline" data-bs-toggle="offcanvas"
                href="#offcanvasOpciones" role="button" aria-controls="offcanvasExample">Registrate</a>
        </div>
    </div>
</div>
<!-- Opciones Registro Leti -->

<div class="offcanvas offcanvas-start bg-dark text-white" tabindex="-1" id="offcanvasOpciones"
    aria-labelledby="offcanvasOpcionesLabel" data-bs-backdrop="true">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasOpcionesLabel">Opciones</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">

        <!-- Donante -->
        <div class="mb-4 text-center">
            <label for="donante" class="form-label fs-5 fw-bold">Contrata nuestros servicios</label>
        </div>
        <div class="d-grid gap-2">
            <button type="button" class="btn btn-warning btn-lg" id="donanteButton" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasRegisterDonante">
                <span id="donanteButtonText">Ser Donante</span>
                <span id="donanteButtonSpinner" class="spinner-border spinner-border-sm d-none" role="status"
                    aria-hidden="true"></span>
            </button>
        </div>
        <!-- Separador -->
        <hr class="my-5 text-secondary">

        <!--  Beneficiario -->
        <div class="mb-4 text-center">
            <label for="beneficiario" class="form-label fs-5 fw-bold">Recibe nuestras donaciones</label>
        </div>
        <div class="d-grid gap-2">
            <button type="submit" class="btn btn-warning btn-lg" id="beneficiarioButton">
                <span id="beneficiarioButtonText">Ser Beneficiario</span>
                <span id="beneficiarioButtonSpinner" class="spinner-border spinner-border-sm d-none" role="status"
                    aria-hidden="true"></span>
            </button>
        </div>
    </div>
</div>
<!-- Registro Donante -->
<div class="offcanvas offcanvas-start bg-dark text-white" tabindex="-1" id="offcanvasRegisterDonante"
    aria-labelledby="offcanvasRegisterDonanteLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasRegisterDonanteLabel">Registrate como Donante</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <form class="p-3 " action="#">
            <div class="mb-3">
                <label for="nombreEmpresa" class="form-label">Nombre Empresa</label>
                <input type="text" class="form-control" id="nombreEmpresa" name="nombreEmpresa"
                    placeholder="Introduce el nombre de tu empresa" required>
            </div>

            <div class="mb-3">
                <label for="TipoEmpresa" class="form-label">Tipo empresa</label>
                <input type="text" class="form-control" id="TipoEmpresa" name="TipoEmpresa"
                    placeholder="Hotel, supermercado, restaurante..." required>
            </div>

            <div class="mb-3">
                <label for="telefonoEmpresa" class="form-label">Teléfono</label>
                <input type="tel" class="form-control" id="telefonoEmpresa" name="telefonoEmpresa"
                    placeholder="Introduce el número de teléfono" required>
            </div>
            <div class="mb-3">
                <label for="emailEmpresa" class="form-label">Email</label>
                <input type="emailEmpresa" class="form-control" id="emailEmpresa" name="emailEmpresa"
                    placeholder="name@example.com" required>
            </div>

            <!-- Nota! TENER EN CUENTA LA BASE DE DATOS -->


            <div class="d-flex gap-2 mt-4">
                <button type="button" class="btn btn-outline-warning" id="planBasic" data-plan="BASIC">
                    Plan Básico
                </button>
                <button type="button" class="btn btn-outline-warning" id="planStandard" data-plan="STANDARD">
                    Plan Standar
                </button>
                <button type="button" class="btn btn-outline-warning" id="planPremium" data-plan="PREMIUM">
                    Plan Premium
                </button>
            </div>

            <script>
                // Manejo de eventos para los botones
                const buttons = document.querySelectorAll('button[data-plan]');
                buttons.forEach(button => {
                    button.addEventListener('click', () => {
                        // Limpiar la selección previa
                        buttons.forEach(btn => btn.classList.remove('active'));
                        // Marcar el botón actual como activo
                        button.classList.add('active');

                        // Obtener el valor del plan seleccionado
                        const selectedPlan = button.getAttribute('data-plan');
                        console.log('Plan seleccionado:', selectedPlan);
                    });
                });
            </script>

            <div class="form-check mb-3  mt-3 d-flex justify-content-center gap-3">
                <label class="form-check-label fs-6" for="terms">
                    Más información de <a routerLink="/suscription" routerLinkActive="active"
                        class="text-decoration-underline text-white fs-6">nuestros planes
                    </a>
                </label>
            </div>


            <!-- hasta aqui son los planes -->
            <div class="mb-3">
                <label for="CIFEmpresa" class="form-label">CIF</label>
                <input type="CIFEmpresa" class="form-control" id="CIFEmpresa" name="CIFEmpresa"
                    placeholder="Introduce tu CIF">
            </div>

            <div class="mb-3">
                <label for="direccionEmpresa" class="form-label">Direccion</label>
                <input type="direccionEmpresa" class="form-control" id="direccionEmpresa" name="direccionEmpresa"
                    placeholder="Direccion empresa">
            </div>

            <div class="mb-3">
                <label for="ciudadEmpresa" class="form-label">Ciudad</label>
                <input type="ciudadEmpresa" class="form-control" id="ciudad" name="ciudad" placeholder="Ciudad">
            </div>


            <div class="mb-3">
                <label for="contraseñaEmpresa" class="form-label">Contraseña</label>
                <input type="contraseñaEmpresa" class="form-control" id="contraseñaEmpresa" name="contraseñaEmpresa"
                    placeholder="Introduce tu contraseña" required>
            </div>

            <!--            
          Terminos y condiciones -->


            <!-- <div class="form-check mb-3  d-flex justify-content-center gap-3">
                <input class="form-check-input " type="checkbox" value="" id="terms" required>
                <label class="form-check-label fs-6" for="terms">
                    Yo acepto los <a href="#" class="text-decoration-underline text-white fs-6">terminos y condiciones
                        </a>
                </label>
            </div> -->
            <!-- <div class="form-check mb-3 d-flex justify-content-center gap-3">
                <input class="form-check-input" type="checkbox" value="" id="terms" required>
                <label class="form-check-label fs-6" for="terms">
                    Yo acepto los <a href="#" class="text-decoration-underline text-white fs-6" data-bs-toggle="modal"  data-bs-dismiss="offcanvas" data-bs-target="#termsModal">términos y condiciones</a>

                </label>
            </div> -->

            <!-- Modal -->
            <!-- <div class="modal fade" id="termsModal" tabindex="-1" aria-labelledby="termsModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content  bg-dark text-white">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="termsModalLabel">Términos y Condiciones</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Bienvenido a nuestro servicio. Al aceptar estos términos, te comprometes a usar nuestra plataforma de manera responsable.</p>
                            <p><strong>1. Uso adecuado:</strong> No puedes usar el servicio para actividades ilícitas.</p>
                            <p><strong>2. Protección de datos:</strong> Tus datos están seguros con nosotros y solo se usarán para mejorar tu experiencia.</p>
                            <p><strong>3. Cambios en los términos:</strong> Podemos actualizar estos términos en cualquier momento.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div> -->

            <div class="form-check mb-3 d-flex justify-content-center gap-3">
                <input class="form-check-input" type="checkbox" value="" id="terms" required>
                <label class="form-check-label fs-6" for="terms">
                    Yo acepto los
                    <a href="#" class="text-decoration-underline text-white fs-6" data-bs-toggle="modal"
                        data-bs-target="#termsModal">
                        términos y condiciones
                    </a>
                </label>
            </div>
            <button type="button" class="btn btn-warning w-100" data-bs-toggle="modal" data-bs-target="#registerModal"
                data-bs-dismiss="offcanvas">
                Registrarse
            </button>
        </form>
    </div>
</div>
<!-- Modal de Términos y Condiciones -->
<div class="modal fade" id="termsModal" tabindex="-1" aria-labelledby="termsModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content bg-dark text-white">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="termsModalLabel">Términos y Condiciones</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body">
                <p>Bienvenido a nuestro servicio. Al aceptar estos términos, te comprometes a usar nuestra
                    plataforma de manera responsable.</p>
                <p><strong>1. Uso adecuado:</strong> No puedes usar el servicio para actividades ilícitas.
                </p>
                <p><strong>2. Protección de datos:</strong> Tus datos están seguros con nosotros y solo se
                    usarán para mejorar tu experiencia.</p>
                <p><strong>3. Cambios en los términos:</strong> Podemos actualizar estos términos en
                    cualquier momento.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>


<!-- Registroo -->
<!-- <div class="offcanvas offcanvas-start bg-dark text-white" tabindex="-1" id="offcanvasRegister"
    aria-labelledby="offcanvasRegisterLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasRegisterLabel">Sign Up</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <form class="p-3 " action="#">
            <div class="mb-3">
                <label for="fullName" class="form-label">Full Name</label>
                <input type="text" class="form-control" id="fullName" name="fullName" placeholder="Enter your full name"
                    required>
            </div>

            <div class="mb-3">
                <label for="email" class="form-label">Email address</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com"
                    required>
            </div>

            <div class="mb-3">
                <label for="phone" class="form-label">Phone Number</label>
                <input type="tel" class="form-control" id="phone" name="phone" placeholder="Enter your phone number"
                    required>
            </div>

            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" name="password"
                    placeholder="Enter your password" required>
            </div>

            <div class="mb-3">
                <label for="CIF" class="form-label">CIF</label>
                <input type="CIF" class="form-control" id="CIF" name="CIF" placeholder="Enter your CIF(Company)">
            </div>
            <div class="form-check">
                <input class="form-check-input " type="radio" name="userType" id="Volunteer">
                <label class="form-check-label " for="Volunteer">
                    Volunteer
                </label>
            </div>
            <div class="form-check ">
                <input class="form-check-input " type="radio" name="userType" id="Company">
                <label class="form-check-label " for="Company">
                    Company
                </label>
            </div><br>

            <div class="form-check mb-3  d-flex justify-content-center gap-3">
                <input class="form-check-input " type="checkbox" value="" id="terms" required>
                <label class="form-check-label fs-6" for="terms">
                    I agree to the <a href="#" class="text-decoration-underline text-white fs-6">terms and
                        conditions</a>
                </label>
            </div>

            <button type="button" class="btn btn-warning w-100" data-bs-toggle="modal" data-bs-target="#registerModal"
                data-bs-dismiss="offcanvas">
                Sign Up
            </button>
        </form>
    </div>
</div> -->
<!-- Contraseña Olvidada   -->
<div class="offcanvas offcanvas-start bg-dark text-white" tabindex="-1" id="offcanvasForgotPassword"
    aria-labelledby="offcanvasForgotPasswordLabel" data-bs-backdrop="true">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasForgotPasswordLabel">Forgot Password</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <form class="p-3 needs-validation" id="forgotPasswordForm" novalidate>
            <div class="mb-3">
                <label for="email" class="form-label">Email Address</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com" required
                    aria-describedby="emailHelp">
                <div class="invalid-feedback">
                    Please provide a valid email address.
                </div>
            </div>

            <button type="submit" class="btn btn-warning w-100" id="sendButton">
                <span id="sendButtonText">Send</span>
                <span id="sendButtonSpinner" class="spinner-border spinner-border-sm d-none" role="status"
                    aria-hidden="true"></span>
            </button>
        </form>
    </div>
</div>

<!-- Modal -->
<!-- <div class="modal fade" id="registerModal" tabindex="-1" aria-labelledby="registerModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="registerModalLabel">Thank You for Joining!</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Thank you for joining our cause. By registering, you are helping to save lives and reduce food
                waste. Together, we can make a real difference in the world.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div> -->