<app-hero-section-blog></app-hero-section-blog>
<div id="articulos-container"></div>

<div *ngFor="let articulo of articulos" class="article-container m-4">
  <article class="max-tb:border-t tb:odd:border-t mb-5 ml-2 first:odd:border-none tb:even:border-b tb:last:even:border-none border-scheme-border py-8 tb:py-10">
    <div class="relative grid grid-cols-3 tb:grid-cols-2 gap-4 tb:gap-6">
      <div>
        <img [src]="articulo.imagen" [alt]="articulo.titulo" width="310" height="300"
             class=" min-w-[104px] block aspect-square tb:aspect-[296/250] object-cover border-tile border-scheme-border rounded-general">
      </div>
      <div class="col-span-2 tb:col-span-1 ml-2 mb-w:ml-0">
        <h3 class="text-scheme-text leading-[30px] mb-4 tb:mb-6">
          <a [routerLink]="['/articulos', articulo.id]" class="text-md no-underline after:w-full after:h-full after:absolute after:left-0 after:top-0">
            {{ articulo.titulo }}
          </a>
        </h3>
        <a class="link" >Read more</a>
      </div>
    </div>
  </article>
</div>
