<app-hero-section-blog></app-hero-section-blog>
<article
  class="max-tb:border-t tb:odd:border-t mb-5 ml-2 first:odd:border-none tb:even:border-b tb:last:even:border-none border-scheme-border py-8 tb:py-10">
  <div class="relative grid grid-cols-3 tb:grid-cols-2 gap-4 tb:gap-6">
    <div><img
        src="//source.co/cdn/shop/articles/SOURCE_Blog_Tiles_4_90d9e32c-b740-4adf-b3b4-8dceb48e5d9a.png?v=1737499075&amp;width=800"
        alt="What’s in Your Water: Nitrates"
        srcset="//source.co/cdn/shop/articles/SOURCE_Blog_Tiles_4_90d9e32c-b740-4adf-b3b4-8dceb48e5d9a.png?v=1737499075&amp;width=352 352w, //source.co/cdn/shop/articles/SOURCE_Blog_Tiles_4_90d9e32c-b740-4adf-b3b4-8dceb48e5d9a.png?v=1737499075&amp;width=800 800w"
        width="400" height="300"
        class="min-w-[104px] block aspect-square tb:aspect-[296/250] object-cover border-tile border-scheme-border rounded-general">
    </div>
    <div class="col-span-2 tb:col-span-1 ml-2 mb-w:ml-0">
      <div class="flex items-center gap-x-1 mb-2 tb:mb-6"></div>
      <h3 class="text-scheme-text leading-[30px] mb-4 tb:mb-6"><a href="/blogs/source-blog/whats-in-your-water-nitrates"
          aria-label="Read more about What’s in Your Water: Nitrates"
          class="text-md no-underline after:w-full after:h-full after:absolute after:left-0 after:top-0 line-clamp-3 tb:line-clamp-none">
          What’s in Your Water: Nitrates </a></h3>
      <p class="link">Read more</p>
    </div>
  </div>
</article>

<article
  class="max-tb:border-t tb:odd:border-t mb-5 first:odd:border-none tb:even:border-b tb:last:even:border-none border-scheme-border py-8 tb:py-10">
  <div class="relative grid grid-cols-3 tb:grid-cols-2 gap-4 tb:gap-6">
    <div><img src="//source.co/cdn/shop/articles/SOURCE_Blog_Tiles_2.png?v=1731608051&amp;width=800"
        alt="What’s in Your Water: Heavy Metals"
        srcset="//source.co/cdn/shop/articles/SOURCE_Blog_Tiles_2.png?v=1731608051&amp;width=352 352w, //source.co/cdn/shop/articles/SOURCE_Blog_Tiles_2.png?v=1731608051&amp;width=800 800w"
        width="400" height="300"
        class="min-w-[104px] block aspect-square tb:aspect-[296/250] object-cover border-tile border-scheme-border rounded-general">
    </div>
    <div class="col-span-2 tb:col-span-1 ml-2 mb-w:ml-0">
      <div class="flex items-center gap-x-1 mb-2 tb:mb-6"></div>
      <h3 class="text-scheme-text leading-[30px] mb-4 tb:mb-6"><a
          href="/blogs/source-blog/what-s-in-your-water-heavy-metals"
          aria-label="Read more about What’s in Your Water: Heavy Metals"
          class="text-md no-underline after:w-full after:h-full after:absolute after:left-0 after:top-0 line-clamp-3 tb:line-clamp-none">
          What’s in Your Water: Heavy Metals </a></h3>
      <p class="link">Read more</p>
    </div>
  </div>
</article>